h1 {
  text-align: center;
  margin: 1rem 0;
}

.game-container {
  display: flex;
  justify-content: center;
}

.score {
  max-width: 400px;
  display: flex;
  margin: auto;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 2rem;
}

.score-side {
  font-size: 1.5rem;
  font-weight: 700;
  flex: 1;
}

.x-side {
  border-bottom: var(--primary-red-color) 4px solid;
  padding: 0.65rem 3rem 0.65rem 1.25rem;
  color: var(--primary-red-color);
  background-color: rgba(239, 64, 64, 0.1);
}

.o-side {
  border-bottom: var(--primary-blue-color) 4px solid;
  padding: 0.65rem 1.25rem 0.65rem 3rem;
  color: var(--primary-blue-color);
  background-color: rgba(53,89,224, 0.1);
  text-align: right;
}

.general-grid {
  display: grid;
  grid-template-columns: repeat(3, 18vh);
  grid-template-rows: repeat(3, 18vh);
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.small-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
}

.item {
  background-color: var(--primary-white-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: box-shadow 0.1s ease;
}

.item:active {
  transform: scale(0.97);
}

.item:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}