@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap');

:root {
  --primary-black-color: rgb(34,40,49);
  --primary-white-color: rgb(255,255,255);
  --primary-red-color: rgb(239,64,64);
  --primary-blue-color: rgb(53,89,224);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--primary-black-color);
  font-family: 'Titillium Web', sans-serif;
}
