.rules-open {
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
}

.rules-title {
  text-align: center;
  margin-top: 1rem;
  color: var(--primary-black-color);
}

.rules-close {
  margin: 1.5rem;
}

.rules-description {
  position: absolute;
  background-color: var(--primary-white-color);
  left: -600px;
  width: 600px;
  height: 100vh;
  z-index: 5;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  border-right: 3px solid var(--primary-black-color);
  transition: left 0.65s ease-out;
  overflow: scroll;
}

.rules-list {
  padding: 0 2rem;
  font-size: 1.25rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--primary-black-color);
}

.rules-description.active {
  left: 0;
}

.rules-image-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.rules-image {
  width: 55%;
  max-width: 400px;
  border-radius: 1rem;
}

.rules-btn {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border: 3px solid var(--primary-black-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.15s ease, background-color 0.15s ease,
    box-shadow 0.15s ease;
}

.rules-btn:hover {
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

@media (max-width: 800px) {
  .rules-description {
    left: -100%;
    width: 100vw;
  }
}